/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}
body{
 font-family:"Rubik",sans-serif;
 line-height: 1;
 font-weight: 400; 
 background-color: #e9ecef;
 color: #fff;
}
/* //NAVIGATION// */
.main-nav{
 font-size: 2rem;
 font-weight: 400;
 display: flex;
 justify-content: space-between;
 padding-top: 1.4rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-list-link:link,
.nav-list-link:visited {
 font-size: 2rem;
 font-weight: 400;
 color: #fff;
 text-decoration: none;
 display: inline-block;
 padding: 1.6rem 3.2rem;
 border-radius: 10px;
 transition: all 0.3s;
}
.nav-list-link:active,
.nav-list-link:hover{
color: #ced4da;
}
.logo {
 height: 3.2rem; 
}
.img-custom {
 width: 2rem;
 height: 2rem;
 border-radius: 50%;
 padding-right: 1.6rem; 
}

 
/* HERO SECTION */
.heading-primary{
  font-size: 5.2rem;
  margin-bottom: 2.8rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.header{
  background:linear-gradient(rgba(10,10,10,0.6),
                             rgba(10,10,10,0.6) ),
                              url(heroreal.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}
.header-container {
  max-width: 120rem;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-35%,-35%);
  text-align: center;
}
.header-container-inner {
  width: 65%;
}
.container-h {
   margin: 100px auto;
   max-width: 120rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight:600;
  background-color: rgba(165, 161, 161, 0.441);
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border: 2px solid #fff;
  border-radius: 10px;
}
.btn:active,
.btn:hover{
 background-color: rgba(246, 242, 242, 0.441);
 color: #fff;
}

/* section real */

.section-real {
  padding:2.6rem 0;
}
.preheading {
  display: block;
  font-size: 4.6rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  padding-bottom: 1.4rem;
  display: flex;
  justify-content: center;
}
.heading-secondary {
 font-size: 1.6rem;
 color: #495057; 
 letter-spacing: 1.8;
 font-weight: 300;
 display: flex;
 justify-content: center;
 margin-bottom: 4.8rem;
}
 .text-box {
  padding: 1.4rem 7.2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.078);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4.2rem 6.8rem;
  border-radius: 10px;
 }
 .grid{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
 }
.grid---3-cols{
 display:grid;
 grid-template-columns: repeat(3,1fr);
 column-gap: 10.2rem; 
}
.heading-tertary {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
  margin: 1.8rem 1rem;
}
.text-description{
 font-size: 1.6rem;
 color:#495057;
 text-align: center;
 line-height: 1.6;
}
.icon {
  width: 4.6rem;
  height: 4.6rem;
  color: #000;
}
/* Details section */
.grid--2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 6rem;
  margin: 0 6.2rem;
}
.img-villa {
 width: 100%;
 border-radius: 1rem;
 box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
}
.header-text-box {
 margin-top: 0rem; 
}
.preheading-tertary{
 display: block;
  font-size: 4.6rem;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center; 
  margin: 0rem 10rem 1rem;
  text-align:start;
}
.detail-description {
  font-size: 1.8rem;
  color:#495057;
  line-height: 1.6;
  font-weight: 300;
  margin:2rem 2rem;
  padding: 1rem 9rem;
}
.detail-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  gap:2.6rem;
  color: #000;
}
.detail-nav-list {
  list-style: none;
  font-size: 2rem;
  margin-left: 10rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.btn--learn:link,
.btn--learn:visited {
   display: inline-block;
  font-size: 2rem;
  font-weight:600;
  background-color:#000;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 3rem 10rem;
  transition: all 0.3s;
}
.btn--learn:active,
.btn--learn:hover{
  background-color:#868e96;
  color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.03);
}
.detail-icon {
  width: 2.6rem;
  height: 2.6rem;
}